:root {
    --tab-anim-len: 0.15s;

    --cross-width: 2;

    --black: #141414;
    --purple: #bd38ff;
    --purple-light: #cb6ff9;
    --yellow: #fcff45;
    --yellow-light: #fdff87;
    --white: #F1F0E1
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 8px;
    width: 100vw;
    height: 100vh;
    background-color: #050505;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 10fr 10fr;
    grid-template-areas: 
        "navbar     navbar          navbar"
        "hierarchy  canvas          inspector"
        "details    project-files   inspector";
    width: 100%;
    height: 100%;   
    gap: 0.3rem;
}

.scene-hierarchy, .details, .project-files, .inspector, .nav-bar {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #141414;
}

.nav-bar {
    grid-area: navbar;
    background-color: #101015;
    border-radius: 10px;
}

.scene-hierarchy {
    grid-area: hierarchy;
}

.details {
    grid-area: details;
}

.canvas {
    grid-area: canvas;
    width: 100%;
    min-height: 0px;
}

#webgl-canvas {
    width: 100%;
    height: 100%;
}

.project-files {
    grid-area: project-files;
}

.inspector {
    grid-area: inspector;
}

.window {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-rows: 40px;
    background-color: #101015;
}

.title-bar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: var(--black);
}

.tab {
    width: fit-content;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: var(--purple);
    transition: background-color var(--tab-anim-len) ease-in-out, padding var(--tab-anim-len) ease-in-out;
    transition-delay: 0s, var(--tab-anim-len);
}

.tab:hover {
    padding-right: 15px;
    background-color: var(--purple-light);
    transition: background-color var(--tab-anim-len) ease-in-out, padding var(--tab-anim-len) ease-in-out;
}

.title {
    width: fit-content;
    padding: 0 30px;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    transition: padding var(--tab-anim-len) ease-in-out;
    transition-delay: var(--tab-anim-len);
    pointer-events: none;
}

.tab:hover .title{
    padding-left: 15px;
    padding-right: 10px;
    transition: padding var(--tab-anim-len) ease-in-out;
}

.line1 {
    fill: var(--white);
    transform-origin: 0 4px;
    transform: translate(20px, 16px) rotateZ(45deg) scale(0, 1);
}

.tab:hover .line1 {
    animation: animLine1 var(--tab-anim-len) ease-in-out forwards;
    animation-delay: calc(var(--tab-anim-len) * 2);
}
  
.line2 {
    fill: var(--white);
    transform-origin: 0 4px;
    transform: translate(80px, 16px) rotateZ(135deg) scaleX(0);
}

.tab:hover .line2 {
    animation: animLine2 var(--tab-anim-len) ease-in-out forwards;
    animation-delay: calc(var(--tab-anim-len) * 2 + 0.1s);
}

.btn-color {
    opacity: 0.1;
    fill: var(--white);
}

.close-btn:hover .btn-color {
    opacity: 0.2;
    fill: var(--black);
}

.close-btn {
    width: 0px;
    height: 0px;
    align-self: center;
    border-radius: 20%;
    transform: scale(0);
    transition: width var(--tab-anim-len) ease-in-out, height var(--tab-anim-len) ease-in-out, transform var(--tab-anim-len) ease-in-out;
    transition-delay: var(--tab-anim-len), var(--tab-anim-len), 0s;
}

.tab:hover .close-btn {
    width: 20px;
    height: 20px;
    transform: scale(1.0);
    transition: width var(--tab-anim-len) ease-in-out, height var(--tab-anim-len) ease-in-out, transform var(--tab-anim-len) ease-in-out;
    transition-delay: 0s, 0s, var(--tab-anim-len);
}

.drag-n-drop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.drag-n-drop svg {
    fill: var(--white);
    cursor: grab;
}

.outline {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; 
}

.outline path {
    fill: none;
    stroke-width: 2;
    stroke: var(--white);
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 1s ease-in-out;
}

@keyframes animLine1 {
    0% {
        transform: translate(20px, 16px) rotateZ(45deg) scale(0);
    }
    100% {
        transform: translate(20px, 16px) rotateZ(45deg) scale(1.41, var(--cross-width));
    }
}

@keyframes animLine2 {
    0% {
        transform: translate(80px, 16px) rotateZ(135deg) scaleX(0);
    }
    100% {
        transform: translate(80px, 16px) rotateZ(135deg) scale(1.41, var(--cross-width));
    }
}